/* Div elements inside the fiveDay element */
div#fiveDay div
{
  width: 125px;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
}

/* Class selectors */
.city
{
  cursor: pointer;
}

.title {
    height: 80px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, 
        rgba(48,48,145,1) 53%, rgba(0,212,255,1) 100%);
    color: white;
    padding: 15px;
    
  }

  .zipCode{
    background-color:rgb(250, 246, 246);
    font-size: 18px;
  }